<h3>Create Employee</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="student.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="student.lastName" name="lastName">
    </div>

    <div class="form-group">
      <label for="name">Category</label>
      <input type="text" class="form-control" id="category" required [(ngModel)]="student.category" name="category">
    </div>

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button  (click) = "newStudent()"  class="btn btn-success">New Student </button>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
<!--div [hidden]="submitted">
  <ul>
    <li>{{student.firstName}}</li>
    <li>{{student.lastName}}</li>
    <li>{{student.category}}</li>
  </ul>
</div-->
