<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="teacher" class="nav-link" routerLinkActive="active">Teacher</a>
    </li>
    <li class="nav-item">
      <a routerLink="student" class="nav-link" routerLinkActive="active">Student</a>
    </li>
    <li class="nav-item">
      <a routerLink="signinsheet" class="nav-link" routerLinkActive="active">SignInSheet</a>
    </li>
    <li class="nav-item">
      <a routerLink="entreprise" class="nav-link" routerLinkActive="active">Entreprise</a>
  </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <div class="card">
    <div class="card-body">
  <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <span>MSJC!</span>
  </div>
</footer>