<h3>Create Sign In Sheet</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" class="form-control" id="firstName" required [(ngModel)]="student.firstName" name="firstName">
    </div>

    <div class="form-group">
      <label for="name">Last Name</label>
      <input type="text" class="form-control" id="lastName" required [(ngModel)]="student.lastName" name="lastName">
    </div>

    <!--div class="form-group">
      <label for="name">Category</label>
      <input type="text" class="form-control" id="category" required [(ngModel)]="student.category" name="category">
    </div-->

    <div class="form-group">
      <label for="name">Training</label>
      <input type="text" class="form-control" id="intitile" required [(ngModel)]="training.intitile" name="intitile">
    </div>

    <!--div class="form-group">
      <label for="name">Entreprise</label>
      <input type="text" class="form-control" id="entreprise" required [(ngModel)]="student.entreprise" name="entreprise">
    </div-->

    <div class="form-group">
      <label for="name">dateSignature</label>
      <!--input type="text" class="form-control" id="dateSignature" required [(ngModel)]="signinsheet.dateSignature" name="dateSignature"-->
      <input type="date" class="form-control" id="dateSignature" required [(ngModel)]="signinsheet.dateSignature" name="dateSignature">
    </div>

 
    

    <button type="submit" class="btn btn-success">Submit</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>You submitted successfully!</h4>
  <button  (click) = "newStudent()"  class="btn btn-success">New Student </button>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>
